/* --------------------------------------------------------------------------
	>Base
-------------------------------------------------------------------------- */
html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
}
body {
  min-width: 100px;
  background: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  line-height: 1.4;
  color: #000;
}

a {
  cursor: pointer;
  color: #00b3ee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
ol {
  list-style-position: inside;
}

p {
}
